<?xml version="1.0"?>
<launch>

    <arg name="robot" default="cob4-2"/>
    <arg name="robot_env" default="line_passage"/>
    <arg name="pkg_env_config" default="$(find atf_nav_test_env_config)"/>
    <arg name="pkg_nav_config" default="$(find atf_nav_test_navigation_config)"/>
    <arg name="pkg_nav_env_config" default="$(find atf_nav_test_navigation_config)"/>
    <arg name="env-script" default="$(find cob_bringup)/env.sh"/>
    <arg name="start_sm" default="false" />

    <include file="$(find msh_bringup)/launch/application.xml" >
        <arg name="b1" value="$(arg robot)-b1"/>
        <arg name="t1" value="$(arg robot)-t1"/>
        <arg name="t2" value="$(arg robot)-t2"/>
        <arg name="t3" value="$(arg robot)-t3"/>
        <arg name="s1" value="$(arg robot)-s1"/>
        <arg name="h1" value="$(arg robot)-h1"/>
        <arg name="robot" value="$(arg robot)"/>
        <arg name="robot_env" value="$(arg robot_env)"/>
        <arg name="pkg_env_config" value="$(arg pkg_env_config)"/>
        <arg name="pkg_nav_config" value="$(arg pkg_nav_config)"/>
        <arg name="pkg_nav_env_config" value="$(arg pkg_nav_env_config)"/>
        <arg name="env-script" value="$(arg env-script)"/>
        <arg name="start_sm" value="$(arg start_sm)"/>
    </include>

</launch>
