<?xml version="1.0"?>
<launch>
    <arg name="robot" default="cob4-2"/>
    <arg name="robot_env" default="narrow_passage_2_cone"/>
    <arg name="pkg_env_config" default="$(find msh_env_config)"/>
    <arg name="pkg_nav_config" default="$(find msh_navigation_config)"/>
    <arg name="pkg_nav_env_config" default="$(find msh_navigation_config)"/>

    <!-- Add all launch files that you want to run additionally to your robot bringup like moveit, etc... -->
    <!--include file="$(find cob_bringup_sim)/launch/robot.launch">
        <arg name="robot" value="$(arg robot)"/>
        <arg name="robot_env" value="$(arg robot_env)"/>
    </include-->

    <include file="$(find msh_bringup)/launch/narrow_passage_2_cone.launch">
        <arg name="robot" value="$(arg robot)"/>
        <!--arg name="robot_env" value="$(arg robot_env)"/-->
        <arg name="pkg_env_config" value="$(arg pkg_env_config)"/>
        <arg name="pkg_nav_config" value="$(arg pkg_nav_config)"/>
        <arg name="pkg_nav_env_config" value="$(arg pkg_nav_env_config)"/>
        <!--arg name="path_segment_planner" value="true"/-->
    </include>

    <!-- for debugging -->
    <!--include file="$(find msh_bringup)/launch/rviz.launch"/-->
    <!--node pkg="rqt_console" type="rqt_console" name="rqt_console" output="screen"/-->

</launch>
