actionlib==1.11.9
adium-theme-ubuntu==0.3.4
angles==1.9.11
apt-xapian-index==0.45
backports.ssl-match-hostname==3.5.0.1
base-local-planner==1.12.13
bloom==0.6.1
bondpy==1.7.19
bzr==2.7.0.dev1
camera-calibration==1.12.21
camera-calibration-parsers==1.11.13
capabilities==0.2.0
catkin==0.6.19
catkin-pkg==0.3.9
catkin-pkg-modules==0.3.9
catkin-tools==0.4.4
chardet==2.0.1
cob-android-resource-server==0.1.3
cob-android-script-server==0.1.3
cob-cartesian-controller==0.6.15
cob-command-gui==0.6.6
cob-dashboard==0.6.6
cob-default-robot-behavior==0.6.7
cob-grasp-generation==0.6.5
cob-moveit-interface==0.6.5
cob-script-server==0.6.6
cob-twist-controller==0.6.15
colorama==0.2.5
command-not-found==0.3
concert-admin-app==0.7.12
concert-conductor==0.6.11
concert-conductor-graph==0.7.12
concert-master==0.6.11
concert-qt-image-stream==0.7.12
concert-qt-make-a-map==0.7.12
concert-qt-map-annotation==0.7.12
concert-qt-service-info==0.7.12
concert-qt-teleop==0.7.12
concert-resource-pool==0.7.0
concert-scheduler-requests==0.7.0
concert-schedulers==0.6.11
concert-service-gazebo==0.1.12
concert-service-link-graph==0.6.11
concert-service-manager==0.6.11
concert-service-utilities==0.6.11
concert-simple-scheduler==0.7.0
concert-software-farmer==0.6.11
concert-utilities==0.6.11
configobj==4.7.2
controller-manager==0.9.4
controller-manager-msgs==0.9.4
controller-manager-tests==0.9.4
coverage==3.7.1
create-driver==2.3.0
create-node==2.3.0
cv-bridge==1.11.16
cycler==0.10.0
debtagshw==0.1
defer==1.0.6
diagnostic-analysis==1.9.2
diagnostic-common-diagnostics==1.9.2
diagnostic-updater==1.9.2
dirspec==13.10
docutils==0.11
duplicity==0.6.23
dynamic-reconfigure==1.5.48
dynamixel-controllers==0.4.1
dynamixel-driver==0.4.1
empy==3.1
functools32==3.2.3.post2
futures==2.1.6
gazebo-plugins==2.4.15
gazebo-ros==2.4.15
gencpp==0.5.5
geneus==2.2.6
genlisp==0.4.15
genmsg==0.5.8
genpy==0.5.10
httplib2==0.8
image-geometry==1.11.16
interactive-markers==1.11.3
keyring==3.5
laser-geometry==1.6.4
launchpadlib==1.10.2
lazr.restfulclient==0.13.3
lazr.uri==1.0.3
lockfile==0.8
lxml==3.3.3
matplotlib==2.0.2
mechanize==0.2.5
mercurial==2.8.2
message-filters==1.11.21
mock==1.0.1
moveit-commander==0.7.12
moveit-python==0.2.16
moveit-ros-planning-interface==0.7.12
moveit-ros-visualization==0.7.12
netifaces==0.8
nose==1.3.1
numpy==1.13.3
oauth==1.0.1
oauthlib==0.6.1
oneconf==0.3.7.14.4.1
osrf-pycommon==0.1.3
PAM==0.4.2
pandas==0.20.3
paramiko==1.10.1
pbr==3.1.1
Pillow==8.1.1
pip-autoremove==0.9.0
piston-mini-client==0.7.5
pluginlib==1.10.5
psutil==1.2.1
PyAssimp==3.0.1264
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
pydot==1.0.28
pygobject==3.12.0
pygpgme==0.3
pygraphviz==1.2
pymongo==2.6.3
PyOpenGL==3.0.2
pyOpenSSL==0.13
pyparsing==2.2.0
pyserial==2.6
pysmbc==1.0.14.1
python-apt===0.9.3.5ubuntu2
python-dateutil==2.6.1
python-debian===0.1.21-nmu2ubuntu2
python-qt-binding==0.2.19
pytz==2017.3
pyxdg==0.25
PyYAML==3.10
qt-create==0.2.9
qt-dotgraph==0.2.32
qt-gui==0.2.32
qt-gui-app==0.2.32
qt-gui-cpp==0.2.32
qt-gui-py-common==0.2.32
reportlab==3.0
requests==2.2.1
resource-retriever==1.11.8
rocon-app-manager==0.7.13
rocon-app-utilities==0.7.13
rocon-apps==0.7.13
rocon-console==0.1.23
rocon-ebnf==0.1.23
rocon-gateway==0.7.10
rocon-gateway-utils==0.7.10
rocon-hub==0.7.10
rocon-hub-client==0.7.10
rocon-interactions==0.1.23
rocon-launch==0.1.23
rocon-master-info==0.1.23
rocon-python-comms==0.1.23
rocon-python-redis==0.1.23
rocon-python-utils==0.1.23
rocon-python-wifi==0.1.23
rocon-qt-library==0.7.12
rocon-semantic-version==0.1.23
rocon-uri==0.1.23
roman==2.0.0
rosapi==0.7.16
rosbag==1.11.21
rosbag-pandas==0.5.0.0
rosboost-cfg==1.11.14
rosbridge-library==0.7.16
rosbridge-server==0.7.16
rosclean==1.11.14
roscreate==1.11.14
rosdep==0.11.8
rosdistro==0.6.2
rosdistro-modules==0.6.2
rosgraph==1.11.21
rosinstall==0.7.8
roslaunch==1.11.21
roslib==1.11.14
roslint==0.10.0
roslz4==1.11.21
rosmake==1.11.14
rosmaster==1.11.21
rosmsg==1.11.21
rosnode==1.11.21
rosparam==1.11.21
rospkg==1.1.4
rospkg-modules==1.1.4
rospy==1.11.21
rospy-message-converter==0.4.0
rosserial-python==0.6.4
rosservice==1.11.21
rostest==1.11.21
rostopic==1.11.21
rosunit==1.11.14
roswtf==1.11.21
rqt-action==0.4.9
rqt-bag==0.4.8
rqt-bag-plugins==0.4.8
rqt-console==0.4.8
rqt-dep==0.4.8
rqt-graph==0.4.8
rqt-gui==0.4.8
rqt-gui-py==0.4.8
rqt-image-view==0.4.9
rqt-joint-trajectory-controller==0.9.4
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.8
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.4.8
rqt-py-console==0.4.8
rqt-reconfigure==0.4.8
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.7
rqt-robot-steering==0.5.7
rqt-runtime-monitor==0.5.7
rqt-rviz==0.5.7
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.5.8
rqt-top==0.4.8
rqt-topic==0.4.10
rqt-web==0.4.7
rviz==1.11.18
scipy==0.13.3
seaborn==0.8.1
SecretStorage==2.0.0
sensor-msgs==1.11.9
sessioninstaller==0.0.0
simplejson==3.3.1
six==1.5.2
slackclient==1.0.5
smach==2.0.1
smach-ros==2.0.1
smclib==1.7.19
software-center-aptd-plugins==0.0.0
sound-play==0.2.12
srdfdom==0.3.5
ssh-import-id==3.21
subprocess32==3.2.7
sympy==0.7.4.1
system-service==0.1.6
testresources==2.0.1
tf==1.11.9
tf-conversions==1.11.9
tf2-geometry-msgs==0.5.16
tf2-kdl==0.5.16
tf2-py==0.5.16
tf2-ros==0.5.16
tf2-sensor-msgs==0.5.16
trollius==1.0.1
Twisted-Core==13.2.0
Twisted-Web==13.2.0
unique-id==1.0.5
unity-lens-photos==1.0
ur-driver==1.1.10
urdfdom-py==0.3.3
urlgrabber==3.9.1
urllib3==1.7.1
vcstools==0.1.39
VTK==5.8.0
wadllib==1.3.2
warehouse-ros==0.8.8
websocket-client==0.12.0
world-canvas-client-py==0.1.0
world-canvas-server==0.1.0
world-canvas-utils==0.1.0
wstool==0.1.13
wxPython==2.8.12.1
wxPython-common==2.8.12.1
xacro==1.9.5
xdiagnose===3.6.3build2
zope.interface==4.0.5
